/* basic setting */
body{
  margin:0;
}
body, div{
  box-sizing: content-box;
}

/*  */
.alert-box{
 background-color: skyblue;
 padding: 20px;
 color: black;
 border-radius: 5px;
 display: none;   
}

/* menu ,nav*/

.list-group{
    display: none;
}

.show{
    display: block;
}
    /* scroll down-shrink logo */
.navbar{
  position:fixed;
  width: 100%;
  height: 80px;
  z-index: 2;
}

.navbar-brand{
  font-size: 30px;
  transition: all 1s;
}


/* Modal popup */
.black-bg {
    width : 100%;
    height : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 5;
    padding: 30px;
    display: none;
  }
  .white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
  } 

  .show-modal {
    display: block;
  }
  /* main */
  .main-bg{
    padding: 100px 20px;
    background: lightgray;
    margin-bottom: 30px;
  }

  /* for dark mode */
  .dark{
    background: black;
    color: white;
  }

  #btn-dark{
    z-index: 3;
    position: absolute;
    bottom:20px;
    width: 80px;
    height: 40px;
    padding-top: 13px;
    margin-left: 80px;
  }

  /* slide carousel */
  .move-2lr{
    transform: translateX(200vw);
  }
  .move-lr{
    transform: translateX(100vw);
  }
  .move{
    transform: translateX(0vw);
  }
  .move-rl{
    transform: translateX(-100vw);
  }
  .move-2rl{
    transform: translateX(-200vw);
  }

  .slide-container{
    width: 300vw;
    transition: all 1s;
  }

  .slide-box{
    width: 100vw;
    float:left;
  }

  .slide-box img{
    width: 100%;
  }

  .slide-btn{
    width: 100px;
    height: 100px;
  }
